<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	<mapper namespace="com.study.springrest.mappers.replyMapper">
	
		<insert id="insert">
			insert into reply( content, user_name, regdate, board_no)
							 values( #{content}, #{user_name}, #{regdate}, #{board_no})
		</insert>
		
		<select id="get" resultType="com.study.springrest.domain.ReplyVO">
			select * from reply where reply_no= #{reply_no}
		</select>
		
		<select id="getList" resultType="com.study.springrest.domain.ReplyVO">
			select * from reply where board_no=#{board_no}
		</select>
		
		<select id="getTotalCount" resultType="int">
			select count(*) from reply where board_no=#{board_no}
		</select>
		
		<select id="getListPage" resultType="com.study.springrest.domain.ReplyVO">
			select * from reply where board_no=#{bno} <!-- 해쉬맵으로 넘길 때는 키값으로 꺼내쓴다 -->
			order by reply_no asc 
			limit #{cri.startPage}, #{cri.articlePerPage}
			
			 <!-- cri. + get   StartPage() 이지만 호출할 땐 cri.startPage()로. 지가 알아서 소문자로 바꿔서 호출된다 -->
		</select>
		
		<update id="update" >
			update reply 
		<!-- <trim prefix="SET" suffixOverrides=","> -->	
		<!-- </trim> -->
			<set>
 					<if test="content !=null">
						content=#{content}, 
					</if>
					<if test="user_name !=null">
						user_name=#{user_name}, 
					</if>
					<if test="regdate !=null">
						regdate=#{regdate}
					</if>
			</set>
			where board_no=#{board_no}
		</update>
		
		<delete id="delete" >
			delete from reply where reply_no=#{reply_no}
		</delete>
		
	</mapper>